<!DOCTYPE html>
<html lang="pl">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
      integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
      crossorigin="anonymous"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css"
    />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
      crossorigin="anonymous"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    <link href="{{ url_for('static', filename='base.css') }}" rel="stylesheet" />
    {% block head %}{% endblock %}
    <title>{% block title %}Home{% endblock %}</title>
  </head>

  <body>

  <!-- alerty -->
  {% with messages = get_flashed_messages(with_categories=true) %} {% if
    messages %} {% for category, message in messages %} {% if category ==
    'error' %}
    <div class="alert alert-danger alert-dismissable fade show" role="alert" style="position: absolute; top: 0; left: 0; z-index: 2; width: 100vw">
      {{ message }}
      <button type="button" class="close" data-dismiss="alert">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    {% else %}
    <div class="alert alert-success alert-dismissable fade show" role="alert" style="position: absolute; top: 0; left: 0; z-index: 2; width: 100vw">
      {{ message }}
      <button type="button" class="close" data-dismiss="alert">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
  {% endif %} {% endfor %} {% endif %} {% endwith %}

  <!-- kontent -->
  <div class="wrapper">
    <!-- nawigacja -->
    {% block nav %}
    <nav class="navbar navbar-dark bg-dark">
      {% if user.is_authenticated %}
        <div class="user">
          <p class="user-name"><i class="fa-regular fa-circle-user"></i>{{user.first_name}}</p>
        </div>
        <div class="nav">
          <div class="daily-goal"><i class="fa-solid fa-bullseye"></i>Dzienny cel: {{user.daily_task_goal}}</div>
          <div class=" nav-main">
            <button class="nav-button"><a class="link" id="home" href="/calendar"><i class="fa-solid fa-calendar"></i>Kalendarz</a></button>
            {% for list in user.lists if list.is_default %}
              <button class="nav-button"><a class="link" id="list" href="{{ url_for('views.show_list', list_id=list.id) }}"><i class="fa-solid fa-inbox"></i>{{ list.list_title }}</a></button>
            {% endfor %}
          </div>
          <div class="nav-lists">
            <button class="nav-button nav-button--my-lists"><a class="link" id="home" href="/home">Moje listy:</a></button>
            {% for list in user.lists if not list.is_default%}
            <button class="nav-button"><a class="link" id="list" href="{{ url_for('views.show_list', list_id=list.id) }}"><i class="fa-solid fa-hashtag"></i>{{ list.list_title }}</a></button>
            {% endfor %}
          </div>
        </div>
        <div class="logout">
          <button class="nav-button nav-button--logout"><a class="link" id="logout" href="/logout"><i class="fa-solid fa-arrow-right-from-bracket"></i>Wyloguj się</a></button>
        </div>
      {% endif %}
    </nav>
    {% endblock %}

    <!-- głowny kontent -->
    
    <main class="main-content">
    {% block content %}{% endblock %}
    </main>
    

    <!-- box z rośliną -->
     
    <div class="plant-container">
      {% if user.is_authenticated %}

      <div id="daily-goal">
        <span id="goal-text" onclick="toggleGoalForm()">🎯 Cel dzienny: {{ user.daily_task_goal }}</span>
        <form id="goal-form" method="POST" action="/update-daily-task-goal" style="display: none;">
          <input type="hidden" name="next" value="{{ request.path }}">
          <input type="number" name="daily-goal" value="{{ user.daily_task_goal }}" min="1">
          <button type="submit">Zapisz</button>
        </form>
      </div>
      <p>Woda: {{ user.water_points }}</p>
      <p>Wzrost: {{ user.plant_growth }}</p>

      {% if user.plant_growth < user.daily_task_goal %}
        <img src="{{ url_for('static', filename='images/plant_1.png') }}" class="plant-img" alt="1. faza rozwoju roślinki">
      {% elif user.plant_growth < 2*user.daily_task_goal %}
        <img src="{{ url_for('static', filename='images/plant_2.png') }}" class="plant-img" alt="2. faza rozwoju roślinki">
      {% elif user.plant_growth < 3*user.daily_task_goal %}
        <img src="{{ url_for('static', filename='images/plant_3.png') }}" class="plant-img" alt="3. faza rozwoju roślinki">
      {% else %}
        <img src="{{ url_for('static', filename='images/plant_4.png') }}" class="plant-img" alt="4. faza rozwoju roślinki">
        <form method="POST" action="{{ url_for('views.put_plant_on_shelf') }}">
        <input type="hidden" name="next" value="{{ request.path }}">
        <button type="submit">Odstaw roślinkę na półkę</button>
        </form>  
      {% endif %}

      <div class="progress-bar-container">
        <div class="progress-bar-phase 
          {% if user.plant_growth < user.daily_task_goal %}
            phase-1
          {% elif user.plant_growth < 2 * user.daily_task_goal %}
            phase-2
          {% elif user.plant_growth < 3 * user.daily_task_goal %}
            phase-3
          {% else %}
            phase-4
          {% endif %}
        " style="width: {{ (user.plant_growth / (3 * user.daily_task_goal) * 100) | round(0, 'floor') }}%">
        </div>
      </div>
      <p>{{ user.plant_growth }} / {{ 3 * user.daily_task_goal }} pkt wzrostu 🌱</p>

      {% if user.plant_growth < 3*user.daily_task_goal %}
          <form method="POST" action="{{ url_for('views.water_plant') }}">
          <input type="hidden" name="next" value="{{ request.path }}">
          <button type="submit">Podlej</button>
          </form>
      {% endif %}
    
      <button type="button" id="show-info" onclick="showInfo(this)">Pokaż jak hodować roślinkę</button>

      <div id="info" style="display: none;">
        Hodowla roślinki:
        1. Dzień w życiu roślinki trwa od 00.00 do 23.59.
        2. Każdego dnia musisz dostarczyć jej minimum {{ (user.daily_task_goal * 0.5 + 0.999) | int }} punktów wody.
        3. Roślinka ma 4 stadia wzrostu. Aby osiągnęła kolejne stadium musisz dostarczyć jej {{user.daily_task_goal}} punktów wody.
        4. Gdy roślinka osiągnie czwarte stadium wzrostu, jest gotowa by dumnie stanąć na półce - będzie tam bezpieczna (nie grozi jej uschnięcie) - a Ty możesz zająć się hodowlą kolejnej.
        5. Gdy przez 1 dzień nie dostarczysz roślince odpowiedniej ilości wody, nic się nie stanie.
        6. Drugiego dnia bez wody roślinka przejdzie w fazę usychania, a czwartego - będzie już kompletnie uschnięta.
        7. Gdy roślinka jest w fazie usychania, możesz dostarczyć jej {{ (user.daily_task_goal * 0.5 + 0.999) | int }} punktów wody, aby ją uratować.
        8. Roślinki, która uschła niestety nie da się uratować. Trafi na półkę razem z innymi, a ty dostaniesz kolejną roślinkę - ale opiekuj się nią dobrze!
      </div>
      {% endif %}
    </div>
    
  </div>

  <!-- bootstrap -->
  <script
    src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
    integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
    crossorigin="anonymous"
  ></script>
  <script
    src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
    integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
    crossorigin="anonymous"
  ></script>
  <script
    src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
    integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
    crossorigin="anonymous"
  ></script>
  <!-- usuwanie zadań -->
  <script>
    function deleteTask(taskId) {
      fetch("/delete-task", {
        method: "POST",
        body: JSON.stringify({ taskId: taskId }),
      }).then((_res) => {
      window.location.reload();
      });
    }
    // automatyczne usuwanie alertów
    document.addEventListener('DOMContentLoaded', () => {
      setTimeout(() => {
        document.querySelectorAll('.alert').forEach(el => {
          el.style.transition = 'opacity 0.5s ease';
          el.style.opacity = '0';
          el.addEventListener('transitionend', () => el.remove());
        });
      }, 2000);
    });
  function showInfo() {
    const button = document.getElementById('show-info');
    const info = document.getElementById('info');

    if (info.style.display === 'none') {
      info.style.display = 'block';
      button.textContent = 'Ukryj jak hodować roślinkę';
    } else {
      info.style.display = 'none';
      button.textContent = 'Pokaż jak hodować roślinkę';
    }
  }
  function toggleGoalForm() {
    document.getElementById("goal-text").style.display = "none";
    document.getElementById("goal-form").style.display = "inline";
  }
  </script>

  </body>
</html>
