{% extends "base.html" %}
{% block title %}Home{% endblock %}

{% block head %}
<link href="{{ url_for('static', filename='home.css') }}" rel="stylesheet" />
{% endblock %}

{% block content%}
<h2 class="title">Listy zadań</h2>

<div class="list-container">
<ul class="list" id="lists">
  {% for list in lists %}
  <li class="item">
    <a id="list" href="{{ url_for('views.show_list', list_id=list.id) }}" class="list-title">{{ list.list_title }}</a>
    {% if not list.is_default %}
      <button type="button" class="close" onClick="deleteList({{ list.id }})">
        <span aria-hidden="true">&times;</span>
      </button>
    {% endif %}
  </li>
  {% endfor %}
</ul>

<form method="POST">
  <label for="list_title"></label>
  <input type="text" name="list_title" id="list_title" class="list-title-input" value="" autocomplete="off" placeholder="Wpisz tytuł listy..." required>
  <br />
  <div>
    <button type="submit" class="btn btn-secondary btn-sm">Dodaj listę</button>
  </div>
</form>
</div>

<!-- JAVA SCRIPT-->
<script>
  // usuwanie listy
  function deleteList(listId) {
  fetch("/delete-list", {
    method: "POST",
    body: JSON.stringify({ listId: listId }),
  }).then((_res) => {
    window.location.href = "/home";
  });
}
</script>
{% endblock %}