{% extends "base.html" %}
{% block title %}Home{% endblock %}

{% block content%}
<h1 align="center">Listy zadań</h1>

<ul class="list-group list-group-flush" id="lists">
  {% for list in user.lists %}
  <li class="list-group-item">
    {{ list.data }}
    <button type="button" class="close" onClick="deleteList({{ list.id }})">
    <span aria-hidden="true">&times;</span>
  </li>
  {% endfor %}
</ul>

<form method="POST">
  <textarea name="list" id="list" class="form-control"></textarea>
  <br />
  <div align="center">
    <button type="submit" class="btn btn-primary">Add List</button>
  </div>
</form>
{% endblock %}