{% extends "base.html" %}
{% block title %}{{list.list_title}}{% endblock %}
{% block head %}
<link href="{{ url_for('static', filename='list.css') }}" rel="stylesheet" />
{% endblock %}

{% block content %}
<h2 class="list-title"> {{list.list_title}} </h2>

<div class="task-list">
<!-- zadania niewykonane -->
<ul class="tasks" id="tasks">
  {% for task in list.tasks if not task.if_done%}
  <li class="task">
    <!-- info o zadaniu -->
    <div class="task-header">
      <form method="POST" action="{{ url_for('views.update_task', task_id=task.id) }}" class="form-check">
        <input type="checkbox" name="if_done" value="true" {% if task.if_done %}checked{% endif %} onchange="this.form.submit()">
      </form>
      <p class="task-data">{{ task.data }}</p>
      <span class="task-deadline text-muted">
        <i class="fa-solid fa-calendar-days"></i> {{ task.deadline_date.strftime('%d.%m.%Y') if task.deadline_date else '-' }}
        <i class="fa-solid fa-clock"></i> {{ task.deadline_time.strftime('%H:%M') if task.deadline_time else '-' }}
        {% if task.reminder %} <i class="fa-solid fa-bell"></i> {% endif %}
      </span>
      <button type="button" class="edit text-muted" data-date="{{ iso }}" onClick="editTaskForm(this)">
        <i class="fa-solid fa-pen-to-square"></i>
      </button>
      <button type="button" class="close text-muted" onClick="deleteTask({{ task.id }})">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <!-- formularz edytowania zadania -->
    <div class="edit-task-form" style="display: none;">
      <form method="POST">
        <input type="hidden" name="action" value="edit_task">
        <input type="hidden" name="task_id" value="{{ task.id }}">
        <input type="text" name="task" id="task" class="task-data-input" autocomplete="off" placeholder="Wpisz treść zadania..."><br />
        <label for="list" class="text-muted"><i class="fa-solid fa-hashtag"></i></label>
        <select name="list" id="list">
        {% for list in user.lists %}
          {% if list.is_default == True %}
            <option value="{{ list.id }}" selected>{{ list.list_title }}</option>
          {% else %}
            <option value="{{ list.id }}">{{ list.list_title }}</option>
          {% endif %}
        {% endfor %}
        </select>
        <span class="text-muted">
          <i class="fa-solid fa-calendar-days"></i>
          <input type="date" name="deadline_date" id="deadline_date" class="deadline-date">
        </span>
        <span class="text-muted">
          <i class="fa-solid fa-clock"></i>
          <input type="time" name="deadline_time" id="deadline_time" class="deadline-time">
        </span>
        <label for="reminder" class="text-muted"><i class="fa-solid fa-bell"></i></label>
        <input type="checkbox" name="reminder" id="reminder">
        <div class="submit-add-task-form-buttons">
          <button type="button" class="btn btn-outline-secondary btn-sm" onclick="cancelEditTaskForm(this)">Anuluj</button>
          <button type="submit" class="btn btn-primary btn-sm">Edytuj zadanie</button>
        </div>
      </form>
    </div>
  </li>
  {% endfor %}
</ul>

<!-- przycisk "dodaj zadanie" i "pokaż wykonane zadania" -->
<button type="button" class="toggle-add-task-form btn btn-secondary btn-sm" onclick="addTaskForm(this)">Dodaj zadanie</button>
{% set done_tasks = list.tasks | selectattr('if_done') | list %}
{% if done_tasks %}
  <button type="button" id="show-done-tasks" class="btn btn-outline-secondary btn-sm" onclick="showDoneTasks(this)">Pokaż wykonane zadania</button>
{% endif %}

<!-- formularz dodawania zadania -->
<div class="add-task-form" id="add-task-form" style="display: none;">
    <form method="POST">
      <input type="hidden" name="action" value="add_task">
      <input type="text" name="task" id="task" class="task-data-input" autocomplete="off" placeholder="Wpisz treść zadania..." required><br>
      <span class="text-muted">
        <i class="fa-solid fa-calendar-days"></i>
        <input type="date" name="deadline_date" id="deadline_date" class="deadline-date">
      </span>
      <span class="text-muted">
        <i class="fa-solid fa-clock"></i>
        <input type="time" name="deadline_time" id="deadline_time" class="deadline-time">
      </span>
      <label for="reminder" class="text-muted"><i class="fa-solid fa-bell"></i></label>
      <input type="checkbox" name="reminder" id="reminder">
      <div class="submit-add-task-form-buttons">
        <button type="button" class="btn btn-outline-secondary btn-sm" onclick="cancelTaskForm(this)">Anuluj</button>
        <button type="submit" class="btn btn-primary btn-sm">Dodaj zadanie</button>
      </div>
    </form>
</div>
</div>

<!-- wykonane zadania -->
<div id="done-tasks" style="display: none;">
<div class="task-list">
{% set done_tasks = list.tasks | selectattr('if_done') | list %}
{% if done_tasks %}
<ul class="tasks" id="tasks">
  <h5>Wykonane</h5>
  {% for task in list.tasks if task.if_done %}
  <li class="task">
    <!-- info o zadaniu -->
    <div class="task-header">
      <form method="POST" action="{{ url_for('views.update_task', task_id=task.id) }}" class="form-check">
      <input type="checkbox" name="if_done" value="true" {% if task.if_done %}checked{% endif %} onchange="this.form.submit()">
      </form>
      <p class="task-data">{{ task.data }}</p>
      <span class="task-deadline text-muted">
      <i class="fa-solid fa-calendar-days"></i> {{ task.deadline_date.strftime('%d.%m.%Y') if task.deadline_date else '-' }}
      <i class="fa-solid fa-clock"></i> {{ task.deadline_time.strftime('%H:%M') if task.deadline_time else '-' }}
      {% if task.reminder %} <i class="fa-solid fa-bell"></i> {% endif %}
      </span>
      <button type="button" class="edit text-muted" data-date="{{ iso }}" onClick="editTaskForm(this)">
        <i class="fa-solid fa-pen-to-square"></i>
      </button>
      <button type="button" class="close text-muted" onClick="deleteTask({{ task.id }})">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <!-- formularz edytowania zadania -->
    <div class="edit-task-form" style="display: none;">
      <form method="POST">
        <input type="hidden" name="action" value="edit_task">
        <input type="hidden" name="task_id" value="{{ task.id }}">
        <input type="text" name="task" id="task" class="task-data-input" autocomplete="off" placeholder="Wpisz treść zadania..."><br />
        <span class="text-muted">
          <i class="fa-solid fa-calendar-days"></i>
          <input type="date" name="deadline_date" id="deadline_date" class="deadline-date">
        </span>
        <span class="text-muted">
          <i class="fa-solid fa-clock"></i>
          <input type="time" name="deadline_time" id="deadline_time" class="deadline-time">
        </span>
        <label for="reminder" class="text-muted"><i class="fa-solid fa-bell"></i></label>
        <input type="checkbox" name="reminder" id="reminder">
        <div class="submit-add-task-form-buttons">
          <button type="button" class="btn btn-outline-secondary btn-sm" onclick="cancelEditTaskForm(this)">Anuluj</button>
          <button type="submit" class="btn btn-primary btn-sm">Edytuj zadanie</button>
        </div>
      </form>
    </div>
  </li>
  {% endfor %}
</ul>
{% endif %}
</div>
</div>

<!-- JAVA SCRIPT -->
<script>
window.addEventListener("load", () => {
  if (window.history.replaceState) {
    window.history.replaceState(null, "", window.location.pathname);
  }
});

// formularz dodawania zadania
const addTaskForm = (button) => {
  const formContainer = document.getElementById('add-task-form'); 
  
  formContainer.style.display = 'block';        
  button.style.display = 'none';                 
  document.querySelectorAll('.edit-task-form').forEach(fc => fc.style.display = 'none');
  document.querySelectorAll('.edit').forEach(btn => btn.style.display = 'inline-block');

  // scroll do formularza na środek
  formContainer.scrollIntoView({ behavior: 'smooth', block: 'center' });
};

// anulowanie dodawania zadania
const cancelTaskForm = (button) => {
  const form = button.closest('form');
  const formContainer = form.parentElement;
  
  form.reset();
  formContainer.style.display = 'none';          

  // pokaż przycisk "Dodaj zadanie"
  const addTaskButton = document.querySelector('.toggle-add-task-form');
  if (addTaskButton) {
    addTaskButton.style.display = 'inline-block';
  }
};

// formularz edytowania zadania
const editTaskForm = (button) => {
  const currentTask = button.closest('.task'); 
  const formContainer = currentTask.querySelector('.edit-task-form');
  const form = formContainer.querySelector('form');

  // ukryj wszystkie formularze i pokaż ich przyciski 
  document.querySelectorAll('.edit-task-form').forEach(fc => fc.style.display = 'none');
  document.querySelectorAll('.edit').forEach(btn => btn.style.display = 'inline-block');
  document.querySelectorAll('.add-task-form').forEach(fc => fc.style.display = 'none');
  document.querySelectorAll('.toggle-add-task-form').forEach(btn => btn.style.display = 'inline-block');

  // pokaż tylko formularz w bieżącym dniu
  formContainer.style.display = 'block';
  button.style.display = 'none';

  // scroll do formularza
  formContainer.scrollIntoView({ behavior: 'smooth', block: 'center' });
};

// anulowanie edytowania zadania
const cancelEditTaskForm = (button) => {
  const form = button.closest('form');
  const formContainer = form.parentElement;
  const currentTask = formContainer.closest('.task');
  const toggleButton = currentTask.querySelector('.edit');

  form.reset();
  formContainer.style.display = 'none';
  toggleButton.style.display = 'inline-block';
};

// pokaż/ukryj wykonane zadania
const showDoneTasks = (button) => {
  const doneTasks = document.getElementById('done-tasks');

  if (doneTasks.style.display === 'none' || doneTasks.style.display === '') {
    doneTasks.style.display = 'block';
    button.textContent = 'Ukryj wykonane zadania';
  } else {
    doneTasks.style.display = 'none';
    button.textContent = 'Pokaż wykonane zadania';
  }
};
</script>
{% endblock %}

