{% extends "base.html" %}

{% block head %}
<link href="{{ url_for('static', filename='main.css') }}" rel="stylesheet" />
{% endblock %}

{% block title %}Grow List{% endblock %}

{% block nav %}{% endblock %}
{% block content %}

    <img src="{{ url_for('static', filename='logo.png') }}" class="logo" alt="logo">
    <h4>Nie masz jeszcze konta?</h4>
    <a class="nav-item nav-link" id="signUp" href="/sign-up">
    <button type="button" class="btn btn-outline-secondary">Zarejestruj się</button>
    </a>
    
    <h4>Masz już konto?</h4>
    <a class="nav-item nav-link" id="login" href="/login">
    <button type="button" class="btn btn-primary">Zaloguj się</button>
    </a>
    
{% endblock %}

{% block plant %}{% endblock %}
