{% extends "base.html" %}

{% block head %}
<link href="{{ url_for('static', filename='main.css') }}" rel="stylesheet" />
{% endblock %}

{% block title %}Grow List{% endblock %}

{% block nav %}{% endblock %}
{% block content %}

    <img src="{{ url_for('static', filename='images/logo.png') }}" class="logo" alt="logo">
    <h4>Nie masz jeszcze konta?</h4>
    <button type="button" class="btn btn-outline-secondary"><a class="link" id="signUp" href="/sign-up">Zarejestruj się</a></button>
    
    <h4>Masz już konto?</h4>
    <button type="button" class="btn btn-primary"><a class="link" id="login" href="/login">Zaloguj się</a></button>
    
{% endblock %}

{% block plant %}{% endblock %}
