.list-title {
    text-align: center;
    margin-top: 1rem;
}

/* lista zadań */
.task-list {
    max-width: 800px;
    padding: 1rem;
    margin: 2rem auto;
}

.tasks {
    padding: 0;
    margin-bottom: 0.7rem;
}

.task {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-content: baseline;
    padding: 0.5rem 0;
    list-style: none;
    border-bottom: 1px solid #ddd;
    width: 100%;
}

.form-check {
    flex-shrink: 0;
    margin-right: 6px;
    padding: 0;
}

.task-header{
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-content: baseline;
  padding: 0.5rem 0;
  width: 100%;
}

.task-data {
    flex: 1;
    margin: 0;
    padding-bottom: 1px;
}

.task-deadline {
    display: flex;
    align-items: center;
    margin-right: 1.5rem;
    font-size: 0.9rem;
}

.task-deadline .fa-solid {
    margin-left: 1rem;
    margin-right: 0.4rem;
}

.task-deadline .fa-bell {
    margin-right: 0;
}

.edit{
  background-color: transparent;
  border: none;
  font-size: 0.8rem;
}

.close {
  margin-left: 1rem;
  flex-shrink: 0;
}

/* formularz dodawania i edytowania zadania */
.add-task-form, .edit-task-form {
    border: 1px solid #ddd;
    border-radius: 0.375rem;
    margin-top: 0.7rem;
    padding: 0.5rem 0.49rem 0.7rem 0.49rem;
}

.task-data-input {
    border: none;
    margin-bottom: 0.5rem;
    background-color: transparent;
}

.task-data-input:focus {
    outline: none;
}

.add-task-form .fa-solid, .edit-task-form .fa-solid {
    margin-left: 0.3rem;
    margin-right: 0.3rem;
}

.fa-solid .fa-hash {
    margin-left: 0;
}

.submit-add-task-form-buttons {
    margin-top: 0.9rem;
}

/* po kliknięciu "dodaj zadanie" scroll dnia do połowy okna*/
.day {
    scroll-margin-block-start: 50vh;
}